name: Build and Push Docker Image

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        run: |
          cd /tmp
          git clone https://github.com/${{ github.repository }}.git
          cd ExchangeTracker
          git checkout ${{ github.ref }}

      - name: Set up Docker
        run: |
          docker --version
          
      - name: Build image
        run: |
          cd $GITHUB_WORKSPACE
          docker build -t ghcr.io/hoztekin/exchangetracker:latest .
          
      - name: Push to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/hoztekin/exchangetracker:latest
          docker logout ghcr.io
